Znakomstvo/Lesson1/Task2/obj
Znakomstvo/Lesson1/Task2/bin
Znakomstvo/Lesson1/Task4/obj
Znakomstvo/Lesson1/Task4/bin
Znakomstvo/Lesson1/Task6/obj
Znakomstvo/Lesson1/Task6/bin
Znakomstvo/Lesson1/Task8/obj
Znakomstvo/Lesson1/Task8/bin
Znakomstvo/Lesson2/Task10/obj
Znakomstvo/Lesson2/Task10/bin
Znakomstvo/Lesson2/Task13/obj
Znakomstvo/Lesson2/Task13/bin
Znakomstvo/Lesson2/Task15/obj
Znakomstvo/Lesson2/Task15/bin