Znakomstvo/Lesson1/Task2/obj
Znakomstvo/Lesson1/Task2/bin
Znakomstvo/Lesson1/Task4/obj
Znakomstvo/Lesson1/Task4/bin
Znakomstvo/Lesson1/Task6/obj
Znakomstvo/Lesson1/Task6/bin
Znakomstvo/Lesson1/Task8/obj
Znakomstvo/Lesson1/Task8/bin
Znakomstvo/Lesson2/Task10/obj
Znakomstvo/Lesson2/Task10/bin
Znakomstvo/Lesson2/Task13/obj
Znakomstvo/Lesson2/Task13/bin
Znakomstvo/Lesson2/Task15/obj
Znakomstvo/Lesson2/Task15/bin
Znakomstvo/Lesson3/Task19/obj
Znakomstvo/Lesson3/Task19/bin
Znakomstvo/Lesson3/Task21/obj
Znakomstvo/Lesson3/Task21/bin
Znakomstvo/Lesson3/Task23/obj
Znakomstvo/Lesson3/Task23/bin
Znakomstvo/Lesson4/Task25/obj
Znakomstvo/Lesson4/Task25/bin
Znakomstvo/Lesson4/Task27/obj
Znakomstvo/Lesson4/Task27/bin
Znakomstvo/Lesson4/Task29/obj
Znakomstvo/Lesson4/Task29/bin